@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <img src=@Url.Content("~/Content/img/legolas.jpg") id="profile-image" width="100%" height="100%" alt="legolas">
    </div>
    <div class="col-md-5 profile">
        <p>Welcome to Cattle End patrol scheduler!</p>
        <p>It's all about fine crafted wizard machine that is able to manage warriors and calculate their guard days.</p>
        <p>You can take a look around and visit our WARRIORS page or hit directly SCHEDULED DUTIES to see who is in charge in the evening.</p>
        <p>Cheerio!</p>
    </div>
</div>

